# Python
__pycache__/
*.py[cod]
.venv/
.env

# Logs & runs
data/runs/**
runs/**
results/**
*.log

# Checkpoints & models
**/checkpoints/**
*.ckpt
*.pt
*.pth

# Notebooks junk
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db
